@tailwind base;
@tailwind components;
@tailwind utilities;

html,
/* body {
  height: 100%;
  @apply no-scrollbar select-none;
} */

body {
  height: 100%;
  @apply no-scrollbar select-none no-animation;
}

@font-face {
  font-family: Gabarito;
  src: url(./assets/fonts/Gabarito.ttf);
}

@font-face {
  font-family: Noto Sans Mono;
  src: url(./assets/fonts/NotoSansMono.ttf);
}

@font-face {
  font-family: Segoe UI Emoji;
  src: url(./assets/fonts/SegoeEmoji.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(./assets/fonts/Rubik.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter.ttf);
}

@font-face {
  font-family: IBM Plex Mono;
  src: url('./assets/fonts/IBMPlexMono-Regular.ttf');
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.invert-icon {
  @apply z-0;
  /* @apply invert z-0; */
}
.menu-itm {
  @apply btn w-48 h-32 max-w-5xl flex-grow flex p-2 text-left text-2xl items-end justify-start text-neutral-content;
}

.menu-itm-filler {
  @apply w-48 h-0 max-w-5xl flex-grow;
}


.transparent {
  @apply bg-black bg-opacity-25;
}

.background {
  @apply bg-base-100;
}

.cnter-items {
  @apply flex items-center justify-center text-center;
}

.keypad {
  @apply btn w-full h-full text-2xl text-neutral-content;
}

.bc {
  @apply border-text-neutral-content;
}

.orderbox {
  @apply max-w-3xl w-72 flex-grow;
}

.num {
  @apply font-mono;
}

.keyboardKey {
  @apply flex-grow btn h-full text-xl text-neutral-content;
}

/* new stuff */
/* .btn {
  @apply gap-2 font-semibold no-underline inline-flex min-h-[3rem]  flex-wrap items-center justify-center px-4 text-center;
}

.btn-primary {
  @apply bg-primary text-primary-content;
}

.btn-secondary {
  @apply bg-secondary text-secondary-content;
}

.btn-neutral {
  @apply bg-neutral text-neutral-content;
}

.btn-success {
  @apply bg-success text-success-content;
}

.btn-warning {
  @apply bg-warning text-warning-content;
}

.btn-error {
  @apply bg-error text-error-content;
} */
